
<div class="wrapper">
  <input type="text" name="" id="" [disabled]="istrue" [(ngModel)] = "value">
<div class="nums">
  <a href="#" class="number" (click)="dip7()">7</a>
  <a href="#" class="number" (click)="dip8()">8</a>
  <a href="#" class="number" (click)="dip9()">9</a>
  <br>
  <a href="#" class="number" (click)="dip4()">4</a>
  <a href="#" class="number" (click)="dip5()">5</a>
  <a href="#" class="number" (click)="dip6()">6</a>
  <br>
   
  <a href="#" class="number" (click)="dip1()">1</a>
  <a href="#" class="number" (click)="dip2()">2</a>
  <a href="#" class="number" (click)="dip3()">3</a>
  <br>
  
  <a href="#" class="zero number" (click)="dip0()">0</a>
  <a href="#" class="dot" >.</a>
</div>
<div class="syms">
  <a href="#" class="plus" (click)="dipplus()">+</a>
  <a href="#"class="enter" (click)="dipen()">Enter</a>
  <a href="#" class="sub" (click)="dipmin()">-</a>
  <a href="#" class="mul" (click)="dipmul()">*</a>
  <a href="#" class="div" (click)="dipdiv()">/</a>
  <a href="#" class="squ" (click) = "dipsq()" >X^2</a>
</div>


</div>